<div ng-controller="graphController">
	<svg width="3650" height="1060">
		<path d="M450 850 L600 850" style="stroke:red; fill:none;" />
		<path d="M450 850 L600 850" style="stroke:#888888; fill:none;" />
		<path d="M450 850 L420 170" style="stroke:#888888; fill:none;" />
		<path d="M450 850 L1050 100" style="stroke:#888888; fill:none;" />
		<path d="M600 850 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M600 850 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M600 850 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M50 280 L50 350" style="stroke:#888888; fill:none;" />
		<path d="M50 280 L50 350" style="stroke:#888888; fill:none;" />
		<path d="M50 280 L420 70" style="stroke:#888888; fill:none;" />
		<path d="M50 350 L220 400" style="stroke:#888888; fill:none;" />
		<path d="M3360 500 L3510 500" style="stroke:#888888; fill:none;" />
		<path d="M3360 500 L3510 500" style="stroke:#888888; fill:none;" />
		<path d="M3360 500 L3000 150" style="stroke:#888888; fill:none;" />
		<path d="M3360 500 L3015 400" style="stroke:#888888; fill:none;" />
		<path d="M3510 500 L3170 400" style="stroke:#888888; fill:none;" />
		<path d="M3510 500 L3190 190" style="stroke:#888888; fill:none;" />
		<path d="M3550 30 L3400 30" style="stroke:#888888; fill:none;" />
		<path d="M3550 30 L3400 30" style="stroke:#888888; fill:none;" />
		<path d="M3550 30 L3000 150" style="stroke:#888888; fill:none;" />
		<path d="M3550 30 L3380 295" style="stroke:#888888; fill:none;" />
		<path d="M3400 30 L3170 400" style="stroke:#888888; fill:none;" />
		<path d="M3400 30 L3190 190" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3170 400" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3170 400" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L2800 30" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3100 30" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3380 295" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3380 295" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M3015 400 L3000 150" style="stroke:#888888; fill:none;" />
		<path d="M3170 400 L2980 30" style="stroke:#888888; fill:none;" />
		<path d="M3170 400 L3530 295" style="stroke:#888888; fill:none;" />
		<path d="M3170 400 L3530 295" style="stroke:#888888; fill:none;" />
		<path d="M3380 295 L3530 295" style="stroke:#888888; fill:none;" />
		<path d="M3380 295 L3530 295" style="stroke:#888888; fill:none;" />
		<path d="M3380 295 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M3380 295 L3000 150" style="stroke:#888888; fill:none;" />
		<path d="M3380 295 L2650 80" style="stroke:#888888; fill:none;" />
		<path d="M3530 295 L3190 190" style="stroke:#888888; fill:none;" />
		<path d="M3530 295 L2650 165" style="stroke:#888888; fill:none;" />
		<path d="M2800 420 L2650 420" style="stroke:#888888; fill:none;" />
		<path d="M2800 420 L2650 420" style="stroke:#888888; fill:none;" />
		<path d="M2800 420 L2650 80" style="stroke:#888888; fill:none;" />
		<path d="M2650 420 L2650 165" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L220 400" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L220 400" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L60 480" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L420 70" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M60 400 L420 170" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L220 480" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L700 170" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M220 400 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M60 480 L220 480" style="stroke:#888888; fill:none;" />
		<path d="M60 480 L220 480" style="stroke:#888888; fill:none;" />
		<path d="M60 480 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M60 480 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M220 480 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M220 480 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M220 480 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M3150 700 L3150 800" style="stroke:#888888; fill:none;" />
		<path d="M3150 700 L3150 800" style="stroke:#888888; fill:none;" />
		<path d="M3150 700 L2650 80" style="stroke:#888888; fill:none;" />
		<path d="M3150 700 L3000 700" style="stroke:#888888; fill:none;" />
		<path d="M3150 800 L3000 800" style="stroke:#888888; fill:none;" />
		<path d="M3000 700 L3000 800" style="stroke:#888888; fill:none;" />
		<path d="M3000 700 L3000 800" style="stroke:#888888; fill:none;" />
		<path d="M240 60 L240 130" style="stroke:#888888; fill:none;" />
		<path d="M240 60 L240 130" style="stroke:#888888; fill:none;" />
		<path d="M240 60 L420 170" style="stroke:#888888; fill:none;" />
		<path d="M240 60 L420 70" style="stroke:#888888; fill:none;" />
		<path d="M240 130 L700 170" style="stroke:#888888; fill:none;" />
		<path d="M240 130 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M420 70 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M420 70 L650 70" style="stroke:#888888; fill:none;" />
		<path d="M420 70 L420 170" style="stroke:#888888; fill:none;" />
		<path d="M420 70 L880 875" style="stroke:#888888; fill:none;" />
		<path d="M420 70 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M650 70 L700 170" style="stroke:#888888; fill:none;" />
		<path d="M650 70 L1200 70" style="stroke:#888888; fill:none;" />
		<path d="M650 70 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M420 170 L700 170" style="stroke:#888888; fill:none;" />
		<path d="M420 170 L700 170" style="stroke:#888888; fill:none;" />
		<path d="M420 170 L250 700" style="stroke:#888888; fill:none;" />
		<path d="M420 170 L1050 100" style="stroke:#888888; fill:none;" />
		<path d="M700 170 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M700 170 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M3000 150 L3190 190" style="stroke:#888888; fill:none;" />
		<path d="M3000 150 L3190 190" style="stroke:#888888; fill:none;" />
		<path d="M3000 150 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M3000 150 L2800 30" style="stroke:#888888; fill:none;" />
		<path d="M3190 190 L3250 30" style="stroke:#888888; fill:none;" />
		<path d="M3190 190 L2650 165" style="stroke:#888888; fill:none;" />
		<path d="M3190 190 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M3100 30 L3250 30" style="stroke:#888888; fill:none;" />
		<path d="M3100 30 L3250 30" style="stroke:#888888; fill:none;" />
		<path d="M250 700 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M250 700 L390 700" style="stroke:#888888; fill:none;" />
		<path d="M2650 80 L2650 165" style="stroke:#888888; fill:none;" />
		<path d="M2650 80 L2650 165" style="stroke:#888888; fill:none;" />
		<path d="M2650 80 L2800 30" style="stroke:#888888; fill:none;" />
		<path d="M2650 80 L2800 30" style="stroke:#888888; fill:none;" />
		<path d="M2650 80 L2370 80" style="stroke:#888888; fill:none;" />
		<path d="M2650 165 L2980 30" style="stroke:#888888; fill:none;" />
		<path d="M2650 165 L2980 30" style="stroke:#888888; fill:none;" />
		<path d="M2650 165 L2370 175" style="stroke:#888888; fill:none;" />
		<path d="M2800 30 L2980 30" style="stroke:#888888; fill:none;" />
		<path d="M2800 30 L2980 30" style="stroke:#888888; fill:none;" />
		<path d="M2800 30 L2170 80" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L1760 1040" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L1760 1040" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L2050 950" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L1430 790" style="stroke:#888888; fill:none;" />
		<path d="M1620 950 L1780 300" style="stroke:#888888; fill:none;" />
		<path d="M1760 1040 L1580 1040" style="stroke:#888888; fill:none;" />
		<path d="M1760 1040 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1760 1040 L1570 790" style="stroke:#888888; fill:none;" />
		<path d="M1760 1040 L2050 1040" style="stroke:#888888; fill:none;" />
		<path d="M1760 1040 L1920 300" style="stroke:#888888; fill:none;" />
		<path d="M2050 25 L2200 25" style="stroke:#888888; fill:none;" />
		<path d="M2050 25 L1780 170" style="stroke:#888888; fill:none;" />
		<path d="M2200 25 L2350 25" style="stroke:#888888; fill:none;" />
		<path d="M2200 25 L2350 25" style="stroke:#888888; fill:none;" />
		<path d="M2350 25 L2170 175" style="stroke:#888888; fill:none;" />
		<path d="M1780 170 L1920 170" style="stroke:#888888; fill:none;" />
		<path d="M1780 170 L1920 170" style="stroke:#888888; fill:none;" />
		<path d="M1780 170 L1780 300" style="stroke:#888888; fill:none;" />
		<path d="M1780 170 L1780 300" style="stroke:#888888; fill:none;" />
		<path d="M1920 170 L1650 30" style="stroke:#888888; fill:none;" />
		<path d="M1920 170 L1920 300" style="stroke:#888888; fill:none;" />
		<path d="M1920 170 L1920 300" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L1920 300" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L1920 300" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L2170 80" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L1370 180" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M1780 300 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L2170 175" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M1920 300 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M2150 490 L2150 560" style="stroke:#888888; fill:none;" />
		<path d="M2150 490 L2420 370" style="stroke:#888888; fill:none;" />
		<path d="M2150 490 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M2150 490 L2250 605" style="stroke:#888888; fill:none;" />
		<path d="M2150 490 L2250 605" style="stroke:#888888; fill:none;" />
		<path d="M2250 605 L2250 675" style="stroke:#888888; fill:none;" />
		<path d="M2250 605 L2420 460" style="stroke:#888888; fill:none;" />
		<path d="M2250 605 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M2150 560 L2420 370" style="stroke:#888888; fill:none;" />
		<path d="M2150 560 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M2150 560 L2250 675" style="stroke:#888888; fill:none;" />
		<path d="M2150 560 L2250 675" style="stroke:#888888; fill:none;" />
		<path d="M2250 675 L2420 460" style="stroke:#888888; fill:none;" />
		<path d="M2250 675 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1430 720 L1570 720" style="stroke:#888888; fill:none;" />
		<path d="M1430 720 L1570 720" style="stroke:#888888; fill:none;" />
		<path d="M1430 720 L1430 250" style="stroke:#888888; fill:none;" />
		<path d="M1430 720 L1430 790" style="stroke:#888888; fill:none;" />
		<path d="M1430 720 L1570 790" style="stroke:#888888; fill:none;" />
		<path d="M1570 720 L1570 250" style="stroke:#888888; fill:none;" />
		<path d="M1570 720 L1570 790" style="stroke:#888888; fill:none;" />
		<path d="M1570 720 L1430 790" style="stroke:#888888; fill:none;" />
		<path d="M1430 790 L1570 790" style="stroke:#888888; fill:none;" />
		<path d="M1430 790 L1570 790" style="stroke:#888888; fill:none;" />
		<path d="M1430 790 L1430 1040" style="stroke:#888888; fill:none;" />
		<path d="M1430 790 L880 875" style="stroke:#888888; fill:none;" />
		<path d="M1430 790 L1370 180" style="stroke:#888888; fill:none;" />
		<path d="M1570 790 L1500 500" style="stroke:#888888; fill:none;" />
		<path d="M1570 790 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M1570 790 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1500 100 L1640 100" style="stroke:#888888; fill:none;" />
		<path d="M1500 100 L1640 100" style="stroke:#888888; fill:none;" />
		<path d="M1500 100 L1500 30" style="stroke:#888888; fill:none;" />
		<path d="M1500 100 L1500 430" style="stroke:#888888; fill:none;" />
		<path d="M1500 100 L1370 180" style="stroke:#888888; fill:none;" />
		<path d="M1640 100 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1430 250 L1570 250" style="stroke:#888888; fill:none;" />
		<path d="M1430 250 L1570 250" style="stroke:#888888; fill:none;" />
		<path d="M1430 250 L1370 180" style="stroke:#888888; fill:none;" />
		<path d="M1430 250 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1570 250 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1570 250 L1370 180" style="stroke:#888888; fill:none;" />
		<path d="M1370 180 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1370 180 L1630 180" style="stroke:#888888; fill:none;" />
		<path d="M1370 180 L1050 100" style="stroke:#888888; fill:none;" />
		<path d="M1630 180 L1200 70" style="stroke:#888888; fill:none;" />
		<path d="M2370 80 L2370 175" style="stroke:#888888; fill:none;" />
		<path d="M2370 80 L2370 175" style="stroke:#888888; fill:none;" />
		<path d="M2370 80 L2170 80" style="stroke:#888888; fill:none;" />
		<path d="M2370 80 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M2370 175 L2170 175" style="stroke:#888888; fill:none;" />
		<path d="M2370 175 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M1430 1040 L1580 1040" style="stroke:#888888; fill:none;" />
		<path d="M1430 1040 L1580 1040" style="stroke:#888888; fill:none;" />
		<path d="M880 875 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M880 875 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M880 875 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M880 875 L880 950" style="stroke:#888888; fill:none;" />
		<path d="M880 875 L1000 525" style="stroke:#888888; fill:none;" />
		<path d="M880 950 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M880 950 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M1500 430 L1500 500" style="stroke:#888888; fill:none;" />
		<path d="M1500 430 L1500 500" style="stroke:#888888; fill:none;" />
		<path d="M1500 30 L1650 30" style="stroke:#888888; fill:none;" />
		<path d="M1500 30 L1650 30" style="stroke:#888888; fill:none;" />
		<path d="M2200 850 L2200 950" style="stroke:#888888; fill:none;" />
		<path d="M2200 850 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M2095 850 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M2095 850 L2200 1040" style="stroke:#888888; fill:none;" />
		<path d="M2050 950 L2200 950" style="stroke:#888888; fill:none;" />
		<path d="M2050 1040 L2200 1040" style="stroke:#888888; fill:none;" />
		<path d="M2200 950 L2200 1040" style="stroke:#888888; fill:none;" />
		<path d="M2200 950 L2200 1040" style="stroke:#888888; fill:none;" />
		<path d="M2170 80 L2170 175" style="stroke:#888888; fill:none;" />
		<path d="M2170 80 L2170 175" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1200 200" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1200 200" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1050 100" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1000 525" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1000 525" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M1050 200 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M1200 200 L1200 70" style="stroke:#888888; fill:none;" />
		<path d="M1200 200 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1200 200 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M1200 200 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1200 200 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M2420 370 L2420 460" style="stroke:#888888; fill:none;" />
		<path d="M2420 370 L2420 460" style="stroke:#888888; fill:none;" />
		<path d="M2420 370 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M2420 370 L2120 250" style="stroke:#888888; fill:none;" />
		<path d="M2420 460 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M2420 460 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M2120 250 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M2120 250 L2120 340" style="stroke:#888888; fill:none;" />
		<path d="M2120 250 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M2120 340 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1190 350 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M1190 350 L1000 525" style="stroke:#888888; fill:none;" />
		<path d="M1190 350 L1190 400" style="stroke:#888888; fill:none;" />
		<path d="M1190 350 L1190 400" style="stroke:#888888; fill:none;" />
		<path d="M1190 400 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1190 400 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M1310 400 L1310 450" style="stroke:#888888; fill:none;" />
		<path d="M1310 400 L1310 450" style="stroke:#888888; fill:none;" />
		<path d="M1000 525 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M1000 525 L1000 640" style="stroke:#888888; fill:none;" />
		<path d="M1000 525 L1150 750" style="stroke:#888888; fill:none;" />
		<path d="M1000 525 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M1000 640 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1000 640 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1050 100 L1200 70" style="stroke:#888888; fill:none;" />
		<path d="M1050 100 L1200 70" style="stroke:#888888; fill:none;" />
		<path d="M1150 750 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1150 750 L1000 750" style="stroke:#888888; fill:none;" />
		<path d="M1150 750 L1930 525" style="stroke:#888888; fill:none;" />
		<path d="M1000 750 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1930 525 L1930 640" style="stroke:#888888; fill:none;" />
		<path d="M1930 525 L1930 640" style="stroke:#888888; fill:none;" />
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2750 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2756 y=33 font-size="11" font-family="sans-serif">uklon6-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1710 y=1030 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1716 y=1043 font-size="11" font-family="sans-serif">usatl4-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1450 y=490 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1456 y=503 font-size="11" font-family="sans-serif">uslxa1-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3460 y=490 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3466 y=503 font-size="11" font-family="sans-serif">deber3-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1260 y=440 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1266 y=453 font-size="11" font-family="sans-serif">usrno3-bb-pe2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3200 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3206 y=33 font-size="11" font-family="sans-serif">sesto4-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1870 y=160 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1876 y=173 font-size="11" font-family="sans-serif">uschi5-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2370 y=360 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2376 y=373 font-size="11" font-family="sans-serif">usqas2-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1140 y=340 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1146 y=353 font-size="11" font-family="sans-serif">usrno1-bb-pe1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=830 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=836 y=953 font-size="11" font-family="sans-serif">uslax1-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=170 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=176 y=403 font-size="11" font-family="sans-serif">hkhkg1-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3310 y=490 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3316 y=503 font-size="11" font-family="sans-serif">deber3-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2070 y=330 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2076 y=343 font-size="11" font-family="sans-serif">usqas4-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1450 y=420 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1456 y=433 font-size="11" font-family="sans-serif">uslxa1-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1140 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1146 y=403 font-size="11" font-family="sans-serif">usrno1-bb-pe2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=850 y=270 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=856 y=283 font-size="11" font-family="sans-serif">usprz3-bb-pe1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3100 y=690 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3106 y=703 font-size="11" font-family="sans-serif">inbom2-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2600 y=70 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2606 y=83 font-size="11" font-family="sans-serif">uklon5-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2000 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2006 y=953 font-size="11" font-family="sans-serif">usmia1-bb-sw3</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1730 y=160 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1736 y=173 font-size="11" font-family="sans-serif">uschi5-bbisp-gw1</text>
		
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=600 y=60 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=606 y=73 font-size="11" font-family="sans-serif">jptyo5-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1730 y=290 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1736 y=303 font-size="11" font-family="sans-serif">uschi5-bbisp-gw3</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1580 y=170 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1586 y=183 font-size="11" font-family="sans-serif">usden5-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1520 y=780 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1526 y=793 font-size="11" font-family="sans-serif">usdal4-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3050 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3056 y=33 font-size="11" font-family="sans-serif">sesto4-bbisp-gw1</text>
		<rect x=400 y=840 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="Hello('ausyd2-bbisp-gw1') ? 'animated jello hightlighter' : 'recthightlighter'" x=406 y=853 font-size="11" font-family="sans-serif">ausyd2-bbisp-gw1{{aa}}</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1320 y=170 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1326 y=183 font-size="11" font-family="sans-serif">usden5-bbisp-gw1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=550 y=840 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=556 y=853 font-size="11" font-family="sans-serif">ausyd2-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2100 y=480 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2106 y=493 font-size="11" font-family="sans-serif">usclt2-bb-pe1</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=950 y=740 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=956 y=753 font-size="11" font-family="sans-serif">ussjc2-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2600 y=155 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2606 y=168 font-size="11" font-family="sans-serif">uklon5-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1590 y=90 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1596 y=103 font-size="11" font-family="sans-serif">usden1-bbisp-gw2</text>
		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2070 y=240 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2076 y=253 font-size="11" font-family="sans-serif">usqas4-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=0 y=270 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=6 y=283 font-size="11" font-family="sans-serif">cntnj1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=340 y=690 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=346 y=703 font-size="11" font-family="sans-serif">sgsin3-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2150 y=15 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2156 y=28 font-size="11" font-family="sans-serif">usbos2-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=170 y=470 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=176 y=483 font-size="11" font-family="sans-serif">hkhkg3-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=830 y=865 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=836 y=878 font-size="11" font-family="sans-serif">uslax1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1970 y=450 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="Hello('uschi5-bb-cr2') ? 'animated jello hightlighter' : 'recthightlighter'" x=1976 y=463 font-size="11" font-family="sans-serif">uschi5-bb-cr2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1380 y=710 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1386 y=723 font-size="11" font-family="sans-serif">usdal4-bb-cr1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2320 y=70 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2326 y=83 font-size="11" font-family="sans-serif">usewr1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1380 y=1030 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1386 y=1043 font-size="11" font-family="sans-serif">ushou1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=950 y=630 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=956 y=643 font-size="11" font-family="sans-serif">usscz2-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1520 y=710 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1526 y=723 font-size="11" font-family="sans-serif">usdal4-bb-cr2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1000 y=90 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1006 y=103 font-size="11" font-family="sans-serif">ussea4-bbisp-gw1{{aa}}</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2100 y=550 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2106 y=563 font-size="11" font-family="sans-serif">usclt3-bb-pe1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1450 y=90 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1456 y=103 font-size="11" font-family="sans-serif">usden1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=10 y=470 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=16 y=483 font-size="11" font-family="sans-serif">hkhkg3-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1150 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1156 y=953 font-size="11" font-family="sans-serif">usmsc2-bb-pe1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1380 y=240 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1386 y=253 font-size="11" font-family="sans-serif">usden5-bb-cr1{{aa}}</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1380 y=780 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1386 y=793 font-size="11" font-family="sans-serif">usdal4-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1100 y=740 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1106 y=753 font-size="11" font-family="sans-serif">ussjc2-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1260 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1266 y=403 font-size="11" font-family="sans-serif">usrno3-bb-pe1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2965 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2971 y=403 font-size="11" font-family="sans-serif">defra1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2045 y=840 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2051 y=853 font-size="11" font-family="sans-serif">usmia1-bb-sw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2200 y=665 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2206 y=678 font-size="11" font-family="sans-serif">usclt3-bb-pe2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=200 y=690 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=206 y=703 font-size="11" font-family="sans-serif">sgsin3-bbisp-gw1</text>



		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=650 y=160 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=656 y=173 font-size="11" font-family="sans-serif">jptyo7-bbisp-gw2</text>

		<!-- <text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" ng-class="domainName=='jptyo7-bbisp-gw2' ? 'animated jello hightlighter' : ''" x=656 y=173 font-size="11" font-family="sans-serif">jptyo7-bbisp-gw2</text> -->



		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=0 y=340 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=6 y=353 font-size="11" font-family="sans-serif">cntnj1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=370 y=60 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=376 y=73 font-size="11" font-family="sans-serif">jptyo5-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3480 y=285 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3486 y=298 font-size="11" font-family="sans-serif">defra3-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1520 y=240 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1526 y=253 font-size="11" font-family="sans-serif">usden5-bb-cr2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1570 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1576 y=953 font-size="11" font-family="sans-serif">usatl4-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2000 y=1030 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2006 y=1043 font-size="11" font-family="sans-serif">usmia1-bb-sw4</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3120 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3126 y=403 font-size="11" font-family="sans-serif">defra1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3100 y=790 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3106 y=803 font-size="11" font-family="sans-serif">inbom2-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2950 y=690 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2956 y=703 font-size="11" font-family="sans-serif">inmaa1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2300 y=15 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2306 y=28 font-size="11" font-family="sans-serif">usbos2-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2320 y=165 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2326 y=178 font-size="11" font-family="sans-serif">usewr1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2220 y=360 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2226 y=373 font-size="11" font-family="sans-serif">usxqm1-bb-cr1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=950 y=515 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=956 y=528 font-size="11" font-family="sans-serif">usscz2-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=370 y=160 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=376 y=173 font-size="11" font-family="sans-serif">jptyo7-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1530 y=1030 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1536 y=1043 font-size="11" font-family="sans-serif">ushou1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1870 y=290 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1876 y=303 font-size="11" font-family="sans-serif">uschi5-bbisp-gw4</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2750 y=410 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2756 y=423 font-size="11" font-family="sans-serif">gbmnc1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1300 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1306 y=953 font-size="11" font-family="sans-serif">usmsc2-bb-pe2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1000 y=190 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1006 y=203 font-size="11" font-family="sans-serif">usprz2-bb-pe1-new</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2950 y=140 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2956 y=153 font-size="11" font-family="sans-serif">nlams2-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1880 y=630 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1886 y=643 font-size="11" font-family="sans-serif">usuqo4-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2120 y=165 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2126 y=178 font-size="11" font-family="sans-serif">usnyc3-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2600 y=410 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2606 y=423 font-size="11" font-family="sans-serif">gbmnc1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2220 y=450 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="Hello('usxqm1-bb-cr2') ? 'animated jello hightlighter' : ''" x=2226 y=463 font-size="11" font-family="sans-serif">usxqm1-bb-cr2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3330 y=285 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3336 y=298 font-size="11" font-family="sans-serif">defra3-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2370 y=450 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2376 y=463 font-size="11" font-family="sans-serif">usqas2-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=850 y=320 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=856 y=333 font-size="11" font-family="sans-serif">usprz3-bb-pe2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1450 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1456 y=33 font-size="11" font-family="sans-serif">usmes1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1150 y=60 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1156 y=73 font-size="11" font-family="sans-serif">ussea4-bbisp-gw2</text>


		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1970 y=360 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="hell=='uschi5-bb-cr1' ? 'animated jello hightlighter' : ''" x=1976 y=373 font-size="11" font-family="sans-serif">uschi5-bb-cr1{{aa}}</text>


		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3500 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3506 y=33 font-size="11" font-family="sans-serif">dedus1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2950 y=790 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2956 y=803 font-size="11" font-family="sans-serif">inmaa1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=190 y=120 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=196 y=133 font-size="11" font-family="sans-serif">jposa3-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3140 y=180 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3146 y=193 font-size="11" font-family="sans-serif">nlams2-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1880 y=515 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1886 y=528 font-size="11" font-family="sans-serif">usuqo4-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2150 y=940 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2156 y=953 font-size="11" font-family="sans-serif">usmia1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2150 y=1030 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2156 y=1043 font-size="11" font-family="sans-serif">usmia1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1600 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1606 y=33 font-size="11" font-family="sans-serif">usmes1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=190 y=50 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=196 y=63 font-size="11" font-family="sans-serif">jposa3-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=10 y=390 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=16 y=403 font-size="11" font-family="sans-serif">hkhkg1-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=3350 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=3356 y=33 font-size="11" font-family="sans-serif">dedus1-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2930 y=20 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2936 y=33 font-size="11" font-family="sans-serif">uklon6-bbisp-gw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2120 y=70 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2126 y=83 font-size="11" font-family="sans-serif">usnyc3-bbisp-gw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2000 y=15 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2006 y=28 font-size="11" font-family="sans-serif">usbos2-bb-sw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2530 y=340 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2536 y=353 font-size="11" font-family="sans-serif">gbmnc1-bb-sw2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2150 y=840 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2156 y=853 font-size="11" font-family="sans-serif">usmia1-bb-sw1</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=2200 y=595 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=2206 y=608 font-size="11" font-family="sans-serif">usclt2-bb-pe2</text>

		<rect ng-class="isIndexOf>-1 ? 'animated jello recthightlighter' : ''" x=1150 y=190 width=100 height=20 style="fill:rgb(220,220,220); fill-opacity:0.8" />
		<text ng-class="isIndexOf>-1 ? 'animated jello hightlighter' : ''" x=1156 y=203 font-size="11" font-family="sans-serif">usprz2-bb-pe2-new</text>

	</svg>
</div>