<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2" ng-controller="mainController" ng-init="findIP()" style="position: absolute;">
			<table class="table table-bordered animated fadeIn">
				<thead>
					<tr>
						<th>Router Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="route in routes">
						<td><a href="#/route/{{route.key}}">{{route.key}} ({{route.doc_count}})</a></td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="col-sm-offset-2 col-sm-10" ng-controller="ipController" ng-init="init()">
			<div class="row">
				<div class="col-sm-6">
					<h1 class="well lead animated fadeIn" ng-show="data.length == 0"><i class="fa fa-hand-o-left fa-2x"></i> Select Router Name from Router table</h1>
					<form action="" class="form-inline" ng-hide="data.length == 0">
						<div class="form-group">
							<label for="search">Search :</label>
							<input type="text" class="form-control" ng-model="search.name" ng-change="searchParams()" placeholder="Search...">
							<!-- <input type="text" class="form-control" ng-model="searchUsingRegEx" placeholder="Search..."> -->
							<!-- <input type="text" id="routes_search" class="form-control" placeholder="RouterName" ng-model="router_name_search"> -->
							<!-- <span>-</span> -->
							<!-- <input type="text" id="search" class="form-control" placeholder="LSP Name"  ng-model="search.name" ng-change="searchParams()"> -->
						</div>
					</form>	
				</div>
				<div class="col-sm-6">
					<input type="button" class="btn btn-success pull-right" value="Apply" ng-click="apply()" ng-hide="data.length == 0">	
					<div id="c2b" ng-hide="data.length == 0" class="pull-right">
						<label>
							<input type="checkbox" class="btn btn-danger" ng-hide="data.length == 0" ng-change="selectAllFiltered()"  ng-model="checkbox.value2">
							<span class="btn btn-danger">Select All</span>
						</label>
						<label>
							<input type="checkbox" class="btn btn-primary" ng-model="uncheck" ng-click="unCheckAll()" ng-hide="data.length == 0">
							<span class="btn btn-primary">Unselect All</span>
						</label>
					</div>
				</div>
			</div>
			<!-- <form ng-submit="store()"> -->
			<!-- <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First name" ng-model="user.firstname" ng-required="true" autofocus>

		    <button type="submit" class="btn btn-default">Submit</button>
		    </form> -->

		    <!-- <input type="search" ng-model="search" placeholder="Search..."> -->
		    <!-- <input type="search" class="form-control" ng-model="searchQuery" autofocus="" value=""> -->

			<div style="clear: both;" ng-hide="data.length == 0">
				<table class="table table-bordered animated fadeIn">
					<thead>
						<tr style="text-align: center;">
							<th>#</th>
							<th>Router</th>
							<th>Source RouterIP</th>
							<th>Destination RouterIP</th>
							<th>LSP Name</th>
							<th>Existing LSP Path IP Hops </th>
                         	<th>Existing LSP Path DNS Names</th>
                         	<th>New LSP Path IP Hops</th>
                            <th>New LSP Path DNS Names</th>
                            <th>Status</th>
							<!-- <th>Details</th> -->
						</tr>
					</thead>
					<tbody>
						<!-- <tr ng-repeat="dataItem in filtered = (data | filter: {_source: {router_name: router_name_search}, _id: search.name})"> -->
						<tr ng-repeat="dataItem in filtered = (data | wildcard:search.name)" >
							<td><input type="checkbox" ng-model="dataItem.isSelected">{{$index}}</input></td>
							<td>{{dataItem._source.src_router_name}}  </td>
							<td>{{dataItem._source.src_router_ip}}</td>
							<td>{{dataItem._source.destIp}} </td> 
							<td>{{dataItem._id}}</td>
							<td>{{dataItem._source.existing_ips}}</td>
							<td>{{dataItem._source.existing_names}}  </td>
							<td>{{dataItem._source.new_node_seq.join("\n")}}</td>
                            <td width="20%">{{dataItem._source.new_config_name.join("\n")}}</td>
                            <td width="15%" style="text-align: center; vertical-align: middle;">
                            	<!-- 1. green, grey, grey -->
                            	<!-- 2. green, green, grey -->
                            	<!-- 3. green, green, green -->
                            	<!-- 4. green, red, grey -->
                            	<!-- 5. green green red -->
                            	<!-- Red -> D -->
								<!-- Green -> U -->
								<!-- Grey -> E -->
                            	<div 
                            		ng-class="{'green': dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 4 || dataItem._source.config_status == 5}" class="rect-box">
                        				<span 
											tooltip-class="animated flipInX"
											tooltip-placement="{{placement.selected}}"
											uib-tooltip-template="'myTooltipTemplate1.html'">
											<p>U</p>
										</span>
                    			</div>
								<div
									ng-class="{'grey': dataItem._source.config_status == 1, 'green': dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 5, 'red': dataItem._source.config_status == 4}"
									class="rect-box">
										<span
											tooltip-class="animated flipInX"
											tooltip-placement="{{placement.selected}}"
											uib-tooltip-template="'myTooltipTemplate2.html'">
												<!-- Grey -->
												<p ng-if="dataItem._source.config_status == 1">E</p>
												<!-- Green -->
												<p ng-if="dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 5">U</p>
												<!-- Red -->
												<p ng-if="dataItem._source.config_status == 4">D</p>
										</span>
								</div>
								<div
									ng-class="{'grey': dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 4, 'green': dataItem._source.config_status == 3, 'red': dataItem._source.config_status == 5}"
									class="rect-box">
										<span 
											tooltip-class="animated flipInX"
											tooltip-placement="{{placement.selected}}"
											uib-tooltip-template="'myTooltipTemplate3.html'">
												<!-- Grey -->
												<p ng-if="dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 4">E</p>
												<!-- Green -->
												<p ng-if="dataItem._source.config_status == 3">U</p>
												<!-- Red -->
												<p ng-if="dataItem._source.config_status == 5">D</p>
										</span>
								</div>
								<script type="text/ng-template" id="myTooltipTemplate1.html">
									<div class="clear">
										<p ng-class="{'green': dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 4 || dataItem._source.config_status == 5}" class="left rect-box2"></p>
										<span>UP</span>
									</div>
									<div class="clear"></div>
							    </script>
							    <script type="text/ng-template" id="myTooltipTemplate2.html">
									<div class="clear">
										<p ng-class="{'grey': dataItem._source.config_status == 1, 'green': dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 5, 'red': dataItem._source.config_status == 4}" class="left rect-box2"></p>
										<!-- To be declared -->
										<span ng-if="dataItem._source.config_status == 1">{{tbd}}</span>
										<!-- UP -->
										<span ng-if="dataItem._source.config_status == 2 || dataItem._source.config_status == 3 || dataItem._source.config_status == 5">{{up}}</span>
										<!-- DOWN -->
										<span ng-if="dataItem._source.config_status == 4">{{down}}</span>
									</div>
									<div class="clear"></div>
							    </script>
								<script type="text/ng-template" id="myTooltipTemplate3.html">
									<div class="clear">
										<p ng-class="{'grey': dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 4, 'green': dataItem._source.config_status == 3, 'red': dataItem._source.config_status == 5}" class="left rect-box2"></p>
										<!-- To be declared -->
										<span ng-if="dataItem._source.config_status == 1 || dataItem._source.config_status == 2 || dataItem._source.config_status == 4">{{tbd}}</span>
										<!-- UP -->
										<span ng-if="dataItem._source.config_status == 3">{{up}}</span>
										<!-- DOWN -->
										<span ng-if="dataItem._source.config_status == 5">{{down}}</span>
									</div>
									<div class="clear"></div>
							    </script>
							</td>
							<!-- <td>{{_.chunk(dataItem._source.new_config[dataItem._id], 1)}}</td> -->
							<!-- <td ><a href="" ng-click="postData($index, data)" target="_blank" class="btn btn-primary">Apply</a></td> -->
						</tr>
						<!-- <tr ng-if="data.length < 1" span="6">
			            	<td colspan="6" class="text-center">No Router Found</td>
				        </tr> -->
					</tbody>
				</table>	
			</div>
		</div>
	</div> <!-- End row -->
</div> <!-- End container -->