<div class="container" ng-init="initLinkRoute()">
	<h1>{{linkRoute}}</h1>
	<a href="#/status"><input type="button" class="btn btn-inverse pull-right" value="Show All"></a>
	<table class="table table-bordered table-striped animated fadeIn">
		<thead>
			<tr>
				<th>Router</th>
				<th>Source Router IP </th>
				<th>Destination Router IP</th>
				<th>Path Name</th>
				<th>LSP Name</th>
				<th>Path Count</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="s in status">
				<!-- <td ng-hide="isLoading == false" colspan="7">Loading....</td> -->
				<td>{{s._source.router_name}}</td>
			 	<td>{{s._source.router_ip}} </td>
			 	<td>{{s._source.destIp}} </td>
				<td>{{s._source.pathName}}</td>
		  	<td>{{s._id}} </td>
		  	<td style="vertical-align: middle;text-align: center;">
		  		<i 
		  			ng-class="{'green': s._source.path_count == 1 || s._source.path_count == 2 || s._source.path_count == 3, 'grey': s._source.path_count == undefined}"
		  			class="rect-box2 inline"
		  			aria-hidden="true"
		  			tooltip-class="animated flipInX"
						tooltip-placement="{{placement.selected}}"
						uib-tooltip="P">
					</i>
		  		<i 
		  			ng-class="{'green': s._source.path_count == 2 || s._source.path_count == 3, 'grey': s._source.path_count == 1 || s._source.path_count == undefined}"
		  			class="rect-box2 inline"
		  			aria-hidden="true"
		  			tooltip-class="animated flipInX"
						tooltip-placement="{{placement.selected}}"
						uib-tooltip="S">
	  			</i>
		  		<i 
		  			ng-class="{'green': s._source.path_count == 3, 'grey': s._source.path_count == 1 || s._source.path_count == 2 || s._source.path_count == undefined}"
		  			class="rect-box2 inline"
		  			aria-hidden="true"
		  			tooltip-class="animated flipInX"
						tooltip-placement="{{placement.selected}}"
						uib-tooltip="T">
	  			</i>
		  	</td>
				<td class="text-center">
					<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'Up'" class="btn btn-success btn-circle"></button>
					<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'Dn'" class="btn btn-danger btn-circle"></button>
					<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'init'" class="btn btn-warning btn-circle"></button>
					<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'unknown'" class="btn btn-primary btn-circle"></button>
				</td>
				</tr>
        <!-- When running status button is clicked -->
				<tr class="remarks" ng-show="isCollapsed == false">
					<td colspan="7" style="height:10px;">
						<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center">
							<table class="table table-bordered" style="empty-cells: hide">
								<thead>
									<tr>
										<th class="text-center">Config Applied on: </th>
										<th class="text-center">Last Checked on: </th>
										<th colspan="2" class="text-center">Primary path </th>
										<th colspan="2" style="text-align: center;">Secondary path </th>
										<th colspan="2" style="text-align: center;">Teritary path </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="border-bottom-style: hidden;"></td>
										<td style="border-bottom-style: hidden;"></td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
          					<tr class="text-center">
			              	<td style="vertical-align: middle;">{{s._source.applied_timestamp == undefined ? 'None' : config_applied_time | date:'dd/MM/yyyy HH:mm:ss'}}
			              	</td>
			              	<td style="vertical-align: middle;">{{updated_date | date:'dd/MM/yyyy HH:mm:ss'}} - ({{last_updated_time}})
			              	</td>
			              	<td style="vertical-align: middle;width: 30%;" width="1px;">
			              		<span ng-show="s._source.Primary_config_names == undefined && s._source.Primary_config == undefined ">None</span>
			              		<div ng-if="s._source.Primary_config_names != undefined && s._source.Primary_config != undefined " ng-repeat="a in primaryConfigRoute(s._source.Primary_config_names,s._source.Primary_config) track by $index">
			              			<p>{{a}}</p>
			              		</div>
			              	</td>
		              		<td style="vertical-align: middle;width:132px;">
		              			<span ng-show="s._source.admin_grp == undefined">None</span>
			              		<div ng-if="s._source.admin_grp != undefined" ng-repeat="agp in adminGroupPrimary(s._source.admin_grp) track by $index">
			              			<p>{{agp}}</p>
			              		</div>
		              		</td>
			              	<td style="vertical-align: middle;width: 30%;" width="1px;">
			              		<span ng-show="s._source.Secondary_config_names == undefined && s._source.Secondary_config == undefined ">None</span>
			              		<div ng-if="s._source.Secondary_config_names != undefined && s._source.Secondary_config != undefined " ng-repeat="a in secondaryConfigRoute(s._source.Secondary_config_names,s._source.Secondary_config) track by $index">
			              			<p>{{a}}</p>
			              		</div>
			              	</td>
			              	<td style="vertical-align: middle;width:132px;">
			              		<span ng-show="s._source.admin_grp_secondary == undefined">None</span>
			              		<div ng-if="s._source.admin_grp_secondary != undefined" ng-repeat="ags in adminGroupSecondary(s._source.admin_grp_secondary)">
			              			<p>{{ags}}</p>
			              		</div>
		              		</td>
		              		<td style="vertical-align: middle;width: 30%;" width="1px;">
			              		<span ng-show="s._source.Teritary_config_names == undefined && s._source.Teritary_config == undefined ">None</span>
			              		<div ng-if="s._source.Teritary_config_names != undefined && s._source.Teritary_config != undefined " ng-repeat="a in teritaryConfigRoute(s._source.Teritary_config_names,s._source.Teritary_config) track by $index">
			              			<p>{{a}}</p>
			              		</div>
			              	</td>
			              	<td style="vertical-align: middle;">None</td>
		              	</tr>
	              	</tr>
              	</tbody>
							</table>
						</p>
					</td>
				</tr>
        <tr class="remarks" ng-show="isCollapsed == false" ng-repeat-end>
         	<td colspan="7">
						<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center" style="margin:0 auto;text-align: center;">
						<b>Logs: <br></b>
						<span>
							<div ng-repeat="gt in getText(s._source.log) track by $index" style="margin: 0 auto;text-align: center;margin-top: 14px;">
								<p>{{gt}}</p>
							</div>
						</span>
					</p>
				</td>
      </tr>
		</tbody>
	</table>
</div>