<div class="row" ng-controller="tabController" ng-init="tabInit()">
	<div class="container">
		<h1>Logs</h1>
		<div>
			<table class="table table-bordered table-striped animated fadeIn">
				<thead>
					<tr>
						<th>Router</th>
						<th>Router Address</th>
						<th>LSP Name</th>
						<th>Existing Config</th>
						<th>New Config</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in routes">
						<td>{{r._source.router_name}}</td>
						<td>{{r._source.router_address}}</td>
						<td>{{r._id}}</td>
						<td>{{r._source.existing_config}}</td>
						<td>{{r._source.new_config}}</td>
						<td>
							<a ng-class="{'logSuccess': r._source.appliedstatus=='success', 'logFailure': r._source.appliedstatus=='fail'}" data-toggle="modal" data-target="#myModal" ng-click="showModal(r._source.remarks)">{{r._source.appliedstatus=='success' ? "Success" : "Fail"}}</a>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
	
	<!-- Modal Window -->
   	<script type="text/ng-template" id="myModalContent.html">
	    <div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Remarks!</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	        <b>{{remarks}}</b>
	    </div>
	    <!-- <div class="modal-footer">
	        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	    </div> -->
	</script>
</div>