<style>
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }    	
</style>
<div class="container-fluid" ng-init="initTable()" ng-controller="lspMeshDetailsCntController">
	<div class="col-sm-12 bottom-line">
    <h3>{{label}}</h3>
  </div>
  <div class="col-sm-12 bottom-line">
    <form action="" class="form-inline text-center">
			<div class="form-group" >
				<!-- search box's -->
				<label for="search" >Search :</label>
				<input type="text" class="form-control" placeholder="Source Routers" ng-model="src_rtr">
        <input type="text" class="form-control" placeholder="Number" ng-model="highlight">
  			<!-- Dropdown -->
        <!-- Drop Down for Source AMR,EMEIA,& APAC - DESTINATION -->
        <div class="pull-right">
          <div class="form-group">
            <select style="margin: 0 5px 0 5px;" ng-model="cnt" id="" class="form-control" ng-options="dest.value as dest.text for dest in destStatus" ng-change="pstDropdown(cnt)" >
              <option value="">Destination</option>
            </select>
          </div>
        </div>
        <!-- Drop Down for Source AMR,EMEIA,& APAC - SOURCE -->
        <div class="pull-right">
          <div class="form-group">
            <select style="margin: 0 5px 0 5px;" ng-model="cnt" id="" class="form-control" ng-options="src.value as src.text for src in statusSourceDD" ng-change="pstDropdown(cnt)" >
              <option value="">Source</option>
            </select>
          </div>
        </div>
        <!-- Primay,Secondary,Teritary -->
        <div class="pull-right">
          <div class="form-group">
            <select style="margin: 0 5px 0 5px;" ng-model="cnt" id="" class="form-control" ng-options="obj.value as obj.text for obj in statusViewDD" ng-change="pstDropdown(cnt)">
              <option value="">Default</option>
            </select>
          </div>
        </div>

				<!-- show/hide complete -->
        <a href="#/lspmeshdetails" ng-class="flag == 'true' ? 'btn btn-danger' : 'btn btn-success'">{{flag == 'true' ? reset : allroutes }}</a>
        <!-- show/hide statusColorMap -->
        <a href="#/stateview/{{flag}}" ng-class="flag == 'true' ? 'btn btn-danger' : 'btn btn-success'">{{flag == 'true' ? reset : stateview }}</a>
			</div>
		</form>	
	</div>
 	<br/>

 	<!-- Table -->
 	<table class="table table-bordered table-striped" cellspacing="0"  style="margin-top:10px;width:100%;font-size:12px;">
		<thead>
			<tr>
	    	<th style="font-size: 10px;">Source routers</th>
				<th style="border-top-style: hidden;font-size: 10px;transform: rotate(-90deg);max-width:0px;height:110px;text-indent:-43px;border-right-style:hidden;white-space:nowrap;" class="vertical-middle" ng-repeat="th in tableHeader track by $index" class="text-center">
				  {{th}}
				</th>
			</tr>
		</thead>
		<tbody>
      <!-- Loader -->
    	<tr ng-hide="isLoading === true">
        <td style="text-align: center;" colspan="100">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
          <span style="font-weight: bolder;">Loading... Please Wait</span>
        </td>
      </tr>
      <!-- Input value is empty -->
      <tr ng-show="highlight == undefined || highlight == ''" ng-repeat="(key, value) in tableStats  | filter:{_source:{src_rtr:src_rtr}}" class="text-center" style="padding: 0;margin: 0;font-size: 10px !important;">
        <td class="vertical-middle" style="white-space:pre;">{{value._id}}</td>
        <!-- Default Values -->
        <td style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Primary Values -->
        <td ng-if="cnt == 'pri_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.pri_cnt) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Secondary Values -->
        <td ng-if="cnt == 'sec_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.sec_cnt) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Tertary Values  -->
        <td ng-if="cnt == 'ter_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.ter_cnt) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Region 1 -->
        <td ng-if="cnt == 'region_r1'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Region 2 -->
        <td ng-if="cnt == 'region_r2'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
        <!-- Region 3  -->
        <td ng-if="cnt == 'region_r3'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index" ng-include="'/views/partiallspmeshdetails.html'"></td>
      </tr>
      <!-- Input as value -->
      <tr ng-hide="highlight == undefined || highlight == ''" ng-repeat="(key, value) in tableStats | filter:{_source:{src_rtr:src_rtr}}" class="text-center" style="padding: 0;margin: 0;font-size: 10px !important;">
        <td class="vertical-middle" style="white-space:pre;">{{value._id}}</td>
        <td style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index">
          <!-- v>0 -->
          <a ng-if="v>0" href="#/table/{{value._id}}/collectionName/{{tableHeader[$index]}}">
            <button
              ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
              class="btn default-style"
              tooltip-append-to-body="true"
              uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
              {{v}}
            </button>
          </a>
          <!-- v==0 -->
          <button
            ng-if="v==0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}
            >
            {{v}}
          </button>
          <!-- v<0 -->
          <button
            ng-if="v<0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
            {{v}}
          </button>
        </td>
        <td ng-if="cnt == 'pri_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.pri_cnt) track by $index">
          <!-- v>0 -->
          <a ng-if="v>0" href="#/table/{{value._id}}/collectionName/{{tableHeader[$index]}}">
            <button
              ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
              class="btn default-style"
              tooltip-append-to-body="true"
              uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
              {{v}}
            </button>
          </a>
          <!-- v==0 -->
          <button
            ng-if="v==0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}
            >
            {{v}}
          </button>
          <!-- v<0 -->
          <button
            ng-if="v<0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
            {{v}}
          </button>
        </td>
        <td ng-if="cnt == 'sec_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.sec_cnt) track by $index">
          <!-- v>0 -->
          <a ng-if="v>0" href="#/table/{{value._id}}/collectionName/{{tableHeader[$index]}}">
            <button
              ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
              class="btn default-style"
              tooltip-append-to-body="true"
              uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
              {{v}}
            </button>
          </a>
          <!-- v==0 -->
          <button
            ng-if="v==0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}
            >
            {{v}}
          </button>
          <!-- v<0 -->
          <button
            ng-if="v<0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
            {{v}}
          </button>
        </td>
        <td ng-if="cnt == 'ter_cnt'" style="width: 10;" class="vertical-middle" ng-repeat="(k, v) in getTableStats(value._source.ter_cnt) track by $index">
          <!-- v>0 -->
          <a ng-if="v>0" href="#/table/{{value._id}}/collectionName/{{tableHeader[$index]}}">
            <button
              ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
              class="btn default-style"
              tooltip-append-to-body="true"
              uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
              {{v}}
            </button>
          </a>
          <!-- v==0 -->
          <button
            ng-if="v==0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}
            >
            {{v}}
          </button>
          <!-- v<0 -->
          <button
            ng-if="v<0"
            ng-class="v == highlight ? 'highlighter-circle' : 'blur-circle'"
            class="btn default-style"
            tooltip-append-to-body="true"
            uib-tooltip=Source:{{value._source.src_rtr}}/Device:{{tableHeader[$index]}}>
            {{v}}
          </button>
        </td>
      </tr>
    </tbody>
	</table>
</div>