<div  ng-init="initStatusMap()">
	<h1>{{map}}</h1>
  <div class="col-md-10 col-md-offset-1" ng-hide="isLoading === true">
	  <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
		  <span><strong>Loading!</strong> Please Wait..</span>
	 </div>
	</div>
	<!-- SVG -->
	<svg width="3650" height="1060">
		<!-- Line -->
		<a class="cursor-pointer"  ng-repeat="(l, link) in linkHits track by $index">
			<path
				style="fill:#ecf0f1;stroke:#ecf0f1; fill-opacity:0.8"
				class="global-clr-nde-lnk"
				ng-attr-d="M{{link._source.src_x}} {{link._source.src_y}} L{{link._source.dst_x}} {{link._source.dst_y}}">
        <!-- <title>{{link._source.out_bw_used}}</title>-->			
    </path>
		<!-- 	<path
				ng-style="{'stroke': strokeColor(link._source.in_bw_used), 'stroke-dasharray': lineCenter(link._source.src_x,link._source.src_y,link._source.dst_x,link._source.dst_y)}"
				class="global-clr-nde-lnk"
				ng-attr-d="M{{link._source.src_x}} {{link._source.src_y}} L{{link._source.dst_x}} {{link._source.dst_y}}">
				<title>{{link._source.out_bw_used}}</title>
			</path> -->
	</a>		
		<!-- Highlighted Lines -->
		<path ng-repeat="(ltkey, lt) in highlightNode track by $index" class="black-clr-nde-lnk" ng-attr-d="M{{lt.src_x}} {{lt.src_y}} L{{lt.dest_x}} {{lt.dest_y}}" />

		<!-- Rect Box -->
	  <a class="cursor-pointer" ng-href="#/status/src/{{value._id}}" xlink:href="" ng-repeat="(key, value) in nodeHits track by $index">
	  	<rect ng-attr-x="{{value._source.x - 6}}" ng-attr-y="{{value._source.y - 13}}" width=100 height=20 style="fill:#e74c3c; stroke: #c0392b; fill-opacity:0.8" tooltip-append-to-body="true" uib-tooltip={{value._id}} /> </rect>
  	</a>
     <!-- Text inside Rect Box -->
		<a class="cursor-pointer" ng-href="#/status/src/{{v._id}}" xlink:href="" ng-repeat="(k, v) in nodeHits track by $index">
			<text id="moveToFront" ng-attr-x="{{v._source.x}}" ng-attr-y="{{v._source.y}}" style="fill:#FFF;" font-size="11" font-family="sans-serif">{{v._id}}</text>
		</a>
	</svg> 
</div>