<div class="row" ng-controller="statusController" ng-init="loadStatus()">
	<div class="container">
		<h1>Status</h1>
		<form action="" class="form-inline">
			<div class="form-group">
				<label for="search">Search : </label>
				<input type="text" id="search" class="form-control" placeholder="Router Name" ng-model="router_name_search">
				<span>-</span>
				<input type="text" id="search" class="form-control" placeholder="LSP Name" ng-model="lsp_name_search">
			</div>
		</form>
		<div>
			<table class="table table-bordered table-striped animated fadeIn">
				<thead>
					<tr>
						<th>Router</th>
						<th>Path Name</th>
						<th>LSP Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="s in status | filter:{_source: {router_name: router_name_search}, _id: lsp_name_search}">
						<td>{{s._source.router_name}}</td>
						<td>{{s._source.pathName}}</td>
						<td style="cursor: pointer;">
							<a ng-click="isCollapsed = !isCollapsed">{{s._id}}</a>
						</td>
						<td class="text-center">
							<button ng-show="s._source.running_status == 'Up'" class="btn btn-success btn-circle"></button>
							<button ng-show="s._source.running_status == 'Dn'" class="btn btn-danger btn-circle"></button>
							<button ng-show="s._source.running_status == 'init'" class="btn btn-info btn-circle"></button>
							<button ng-show="s._source.running_status == 'unknown'" class="btn btn-primary btn-circle"></button>
						</td>
					</tr>
					<tr class="remarks" ng-show="isCollapsed == false" ng-repeat-end>
			           <td colspan="4" ng-show="isCollapsed == false">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center">
							<b>Logs : </b>{{s._source.log=="" ? 'No log found' : s._source.log}}
							</p>
						</td>
			        </tr>  
				</tbody>
			</table>	
		</div>
	</div>
</div>