<div class="row" ng-controller="statusController" ng-init="loadStatus()">
	<div class="container">
		<h1>Status</h1>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<form action="" class="form-inline">
					<div class="form-group">
						<label for="search">Search :</label>
						<input type="text" class="form-control" ng-model="LSPSearch" placeholder="LSP Name">
						<!-- <input type="text" class="form-control" ng-model="LSPSearch" placeholder="LSP Name"> -->
					</div>
				</form>	
			</div>
		</div>
		<!-- <hr /> -->
		<div class="row">
			<div class="col-sm-6">
				<!-- <h3>Filters</h3> -->
				<form class="form-inline">
					<div class="form-group">
						<div class="funkyradio">
							<div class="funkyradio-default">
					            <input type="radio" name="radio" id="radio33" value="" ng-checked="checked" ng-model="selectStatus" />
					            <label for="radio33">All</label>
					        </div>
						</div>			
					</div>
					<div class="form-group">
						<div class="funkyradio">
							<div class="funkyradio-success">
					            <input type="radio" name="radio" id="radio3" value="Up" ng-model="selectStatus" />
					            <label for="radio3">Up</label>
					        </div>
						</div>			
					</div>
					<div class="form-group">
						<div class="funkyradio">
							<div class="funkyradio-danger">
					            <input type="radio" name="radio" id="radio4" value="Dn" ng-model="selectStatus" />
					            <label for="radio4">Down</label>
					        </div>
						</div>			
					</div>
					<div class="form-group">
						<div class="funkyradio">
							<div class="funkyradio-warning">
					            <input type="radio" name="radio" id="radio5" value="init" ng-model="selectStatus" />
					            <label for="radio5">Init</label>
					        </div>
						</div>			
					</div>
					<div class="form-group">
						<div class="funkyradio">
							<div class="funkyradio-primary">
					            <input type="radio" name="radio" id="radio2" value="unknown" ng-model="selectStatus" />
					            <label for="radio2">Unknown</label>
					        </div>
						</div>			
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<!-- <h3></h3> -->
				<form class="form-inline">
					<div class="form-group">
						<div class="checkbox checkbox-primary checkbox-inline">
			                <input type="checkbox" id="inlineCheckbox1" value="" ng-click="toggleSelection('')" ng-checked="">
			                <label for="inlineCheckbox1">All</label>
			            </div>
					</div>
					<div class="form-group">
						<div class="checkbox checkbox-success checkbox-inline">
			                <input type="checkbox" id="inlineCheckbox2" value="1" ng-click="toggleSelection('1')">
			                <label for="inlineCheckbox2">Primary</label>
			            </div>
					</div>
					<div class="form-group">
						<div class="checkbox checkbox-warning checkbox-inline">
			                <input type="checkbox" id="inlineCheckbox3" value="2" ng-click="toggleSelection('2')">
			                <label for="inlineCheckbox3">Secondary</label>
			            </div>
					</div>
					<div class="form-group">
						<div class="checkbox checkbox-danger checkbox-inline">
	                		<input type="checkbox" id="inlineCheckbox4" value="9" ng-click="toggleSelection('9')">
		                	<label for="inlineCheckbox4">None</label>
		            	</div>
					</div>
				</form>
			</div>
		</div>
		<hr>
		<div>
			<table class="table table-bordered table-striped animated fadeIn">
				<thead>
					<tr>
						<th>Router</th>
						<th>Source Router IP </th>
						<th>Destination Router IP</th>
						<th>Path Name</th>
						<th>LSP Name</th>
						<th>Path Count</th>
						<th>Status</th>
						<!-- <th>Router</th>
						<th>Path Name</th>
						<th>LSP Name</th>
						<th>Status</th> -->
					</tr>
				</thead>
				<tbody>
					<!-- <tr ng-repeat-start="s in status | wildcard: LSPSearch | filter:{_source: {running_status: selectStatus}} | typesFilter: selectedTypes"> -->
					<tr ng-repeat-start="s in status | wildcard: LSPSearch | filter:{_source: {running_status: selectStatus}} | filter: colourFilter">
					<!-- <tr ng-repeat-start="s in status | wildcard: LSPSearch"> -->
						<td>{{s._source.router_name}}</td>
					 	<td>{{s._source.router_ip}} </td>
					 	<td>{{s._source.destIp}} </td>
						<td>{{s._source.pathName}}</td>
					  	<td>{{s._id}} </td>
					  	<td style="vertical-align: middle;text-align: center;">
					  		<i 
					  			ng-class="{'green_bulb': s._source.path_count == 1 || s._source.path_count == 2 || s._source.path_count == 3, 'grey_bulb': s._source.path_count == undefined}" class="fa fa-lightbulb-o fa-lg"
					  			aria-hidden="true"
					  			tooltip-class="animated flipInX"
								tooltip-placement="{{placement.selected}}"
								uib-tooltip="1"></i>
					  		<i ng-class="{'green_bulb': s._source.path_count == 2 || s._source.path_count == 3, 'grey_bulb': s._source.path_count == 1 || s._source.path_count == undefined}" class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
					  		<i ng-class="{'green_bulb': s._source.path_count == 3, 'grey_bulb': s._source.path_count == 1 || s._source.path_count == 2 || s._source.path_count == undefined}" class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
					  	</td>
						<td class="text-center">
							<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'Up'" class="btn btn-success btn-circle"></button>
							<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'Dn'" class="btn btn-danger btn-circle"></button>
							<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'init'" class="btn btn-warning btn-circle"></button>
							<button ng-click="isCollapsed = !isCollapsed" ng-show="s._source.running_status == 'unknown'" class="btn btn-primary btn-circle"></button>
						</td>
					</tr>
					<!-- <tr class="remarks" ng-show="isCollapsed == false" ng-repeat-end>
			           <td colspan="4" ng-show="isCollapsed == false">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center">
							<b>Logs : </b>{{s._source.log=="" ? 'No log found' : s._source.log}}
							</p>
						</td>
			        </tr> -->

			        <!-- Start -->
			        <!-- When running status button is clicked -->
					<tr class="remarks" ng-show="isCollapsed == false">
						<td colspan="7" style="height:10px;">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center">
								<table class="table table-bordered" style="empty-cells: hide">
									<thead>
										<tr>
											<th class="text-center">Config Applied on: </th>
											<th class="text-center">Last Checked on: </th>
											<th colspan="2" class="text-center">Primary path </th>
											<th colspan="2" style="text-align: center;">Secondary path </th>
											<th colspan="2" style="text-align: center;">Teritary path </th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<td style="border-bottom-style: hidden;"></td>
										<td style="border-bottom-style: hidden;"></td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
										<td class="text-center">Domain Name</td>
										<td class="text-center">Admin group</td>
		              					<tr class="text-center">
							              	<td style="vertical-align: middle;">{{s._source.applied_timestamp == undefined ? 'None' : config_applied_time | date:'dd/MM/yyyy HH:mm:ss'}}
							              	</td>
							              	<td style="vertical-align: middle;">{{updated_date | date:'dd/MM/yyyy HH:mm:ss'}} - ({{last_updated_time}})
							              	</td>
							              	<td style="vertical-align: middle;width: 30%;" width="1px;">
							              		<span ng-show="s._source.Primary_config_names == undefined && s._source.Primary_config == undefined ">None</span>
							              		<div ng-if="s._source.Primary_config_names != undefined && s._source.Primary_config != undefined " ng-repeat="a in primaryConfig(s._source.Primary_config_names,s._source.Primary_config)">
							              			<p>{{a}}</p>
							              		</div>
							              	</td>
						              		<td style="vertical-align: middle;width:132px;">
						              			<span ng-show="s._source.admin_grp == undefined">None</span>
							              		<div ng-if="s._source.admin_grp != undefined" ng-repeat="agp in adminGroupPrimary(s._source.admin_grp) track by $index">
							              			<p>{{agp}}</p>
							              		</div>
						              		</td>
							              	<td style="vertical-align: middle;width: 30%;" width="1px;">
							              		<span ng-show="s._source.Secondary_config_names == undefined && s._source.Secondary_config == undefined ">None</span>
							              		<div ng-if="s._source.Secondary_config_names != undefined && s._source.Secondary_config != undefined " ng-repeat="a in secondaryConfig(s._source.Secondary_config_names,s._source.Secondary_config)">
							              			<p>{{a}}</p>
							              		</div>
							              	</td>
							              	<td style="vertical-align: middle;width:132px;">
							              		<span ng-show="s._source.admin_grp_secondary == undefined">None</span>
							              		<div ng-if="s._source.admin_grp_secondary != undefined" ng-repeat="ags in adminGroupSecondary(s._source.admin_grp_secondary)">
							              			<p>{{ags}}</p>
							              		</div>
						              		</td>
						              		<td style="vertical-align: middle;width: 30%;" width="1px;">
							              		<span ng-show="s._source.Teritary_config_names == undefined && s._source.Teritary_config == undefined ">None</span>
							              		<div ng-if="s._source.Teritary_config_names != undefined && s._source.Teritary_config != undefined " ng-repeat="a in teritaryConfig(s._source.Teritary_config_names,s._source.Teritary_config)">
							              			<p>{{a}}</p>
							              		</div>
							              	</td>
							              	<td style="vertical-align: middle;">None</td>
						              	</tr>
						              	</tr>
					              	</tbody>
      							</table>
  							</p>
						</td>
					</tr> 
			        <!-- End -->

			        <!-- <tr class="remarks" ng-show="isCollapsed == false">
			           <td colspan="6">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center">
								<b>Config Applied on: </b>
								<span>{{s._source.applied_timestamp == undefined ? 'No Config' : config_applied_time | date:'dd/MM/yyyy HH:mm:ss'}}</span><br>
								<b>Last Checked on: </b>
								{{updated_date | date:'dd/MM/yyyy HH:mm:ss'}} - ({{last_updated_time}})
							</p>
						</td>
			        </tr> -->
			        <!-- <tr class="remarks" ng-show="isCollapsed == false">
			           <td colspan="6">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center" style="margin:0 auto;width:10em;text-align: center;">
								<b>Primary Config: <br></b>
								<span ng-if="s._source.config_name != undefined">{{s._source.config_name == undefined ? 'No log found' : s._source.config_name.join('\n')}}</span>
								<span>{{s._source.config == undefined ? 'No Primary Config' : s._source.config.join('\n')}} </span> 
							</p>
						</td>
			        </tr> -->
			        <!-- <tr class="remarks" ng-show="isCollapsed == false">
			           <td colspan="6">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center" style="margin:0 auto;width:10em;text-align: center;">
								<b>Secondary Config:</b>
								<span>{{s._source.sec_config == undefined ? 'No Secondary Config' : s._source.sec_config.join('\n')}}</span>
							</p>
						</td>
			        </tr> -->
			        <!-- <tr class="remarks" ng-show="isCollapsed == false">
			           <td colspan="6">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center" style="margin:0 auto;width:10em;text-align: center;">
								<b>Previous Config: <br></b>
								<span ng-if="s._source.existing_config_names != undefined">{{s._source.existing_config_names == undefined ? 'No Previous Config' : s._source.existing_config_names}}</span>
								<span>{{s._source.existing_config == undefined ? 'No Previous Config' : s._source.existing_config}} </span>
							</p>
						</td>
			        </tr> -->
			        <tr class="remarks" ng-show="isCollapsed == false" ng-repeat-end>
			           <td colspan="7">
							<p ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center" style="margin:0 auto;text-align: center;">
								<b>Logs: <br></b>
								<span>
									<div ng-repeat="gt in getText(s._source.log) track by $index" style="margin: 0 auto;text-align: center;margin-top: 14px;">
										<p>{{gt}}</p>
									</div>
								</span>
							</p>
						</td>
			        </tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>