<div class="container" ng-init="StatusHistory()">
	
	<!-- Heading and Checkbox -->
	<h1 style="margin-bottom:20px;">{{SHistory}}
	 	<label ng-class="singleModel == false ? 'btn btn-success' : 'btn btn-danger'" ng-model="singleModel" uib-btn-checkbox class="pull-right" style="margin-bottom: 10px;" >
	  	{{singleModel == false ? showlo : disablelo}}
  	</label>
  </h1>

	<!-- Table content starts -->
	<div>
		<table  class="table table-bordered table-striped animated fadeIn" style="font-size:11px;">
			<thead>
				<tr>
					<th class="text-center">Time</th>
					<th>Config </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat ="(key, history) in data" ng-show="history._source.change_timestamp != undefined">
					<td width="8%;"> {{history._source.change_timestamp*1000| date:'MM-dd-yyyy HH:mm:ss' }} UTC</td>
					<td  ng-repeat="a in primary(history._source.config,history._source.intfs,history._source.config_ips)">
						{{a}}
					</td> 
				</tr>  
			</tbody>
		</table> 
	</div>		
</div>	