
<div class="row" ng-controller="tabController" ng-init="init()" style="margin-top: 100px;">
	<div class="container">
		<h1>List of Routes Record</h1>
		<div>
			<table class="table table-bordered animated fadeIn">
				<thead>
					<tr>
						<th>Router</th>
						<th>Router Address</th>
						<th>LSP Name</th>
						<th>Existing Config</th>
						<th>New Config</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in routes">
						<td >{{r._source.router_name}}</td>
						<td >{{r._source.router_address}}</td>
						<td >{{r._id}}</td>
						<td >{{r._source.existing_config}}</td>
						<td >{{r._source.new_config}}</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>