<div class="container" ng-init="initTable()">
	<h1>{{table}}</h1>
	
	<!-- Filters -->
	<div class="col-sm-12 form-inline" style="margin-bottom: 2em;">
		<div class="col-sm-8">
			<div class="form-group" >
				<label for="search">Search :</label>
				<input type="text" class="form-control" ng-model="device" placeholder="Device">
				<input type="text" class="form-control" ng-model="interface" placeholder="Interface">
				<input type="text" class="form-control" ng-model="partner" placeholder="partner">
			</div>
		</div>
		<div class="col-sm-4">
			<label for="limit">Limits : </label>
			<div class="form-group">
				<select ng-model="climit" id="" class="form-control" ng-options="limit as limit.id for limit in setLimit" ng-change="findLimit(climit)" ng-disabled="radioModel == 'default'">
				<option value="">Select the limit</option>
			</select>
			</div>
		</div>
	</div>

	<!-- Table row count and Radio Button -->
	<div class="col-sm-12" style="margin-bottom: 2em;">
		<div class="col-sm-4">
			<button type="button" class="btn btn-primary">Total count : <span class="badge">{{dataset.length}}</span></button>
		</div>
		<div class="col-sm-4">
			<label class="radio-inline">
      <input type="radio" value="default" ng-model="radio.value" ng-click="checkRadioButton(radio.value)" name="optradio">Default
	    </label>
	    <label class="radio-inline">
      <input type="radio" value="all" ng-model="radio.value" ng-click="checkRadioButton(radio.value)" name="optradio">All
	    </label>
		</div>
		<div class="col-sm-4 form-inline">
			<label for="limit">Dir : </label>
			<div class="form-group">
				<select ng-model="direction" id="" class="form-control" ng-options="dire as dire.dir for dire in setDir" ng-change="watchDirDropDown(direction)">
				<option value="">Select the Dir</option>
			</select>
			</div>	
		</div>
	</div>

	<!-- Table Content starts here  -->
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">Device</th>
				<th class="text-center">Interface </th>
				<th class="text-center">Partner</th>
				<th class="text-center">AS </th>
				<th class="text-center">partner type</th>
 				<th class="text-center">Speed</th>
 				<th class="text-center">Dir</th>
 				<th ng-repeat="h in heading track by $index" class="text-center">
					{{h}}
				</th>
				<!-- <th ng-repeat="th in tableHeader track by $index" class="text-center" style="font-size: 10px;">
					{{th}}
				</th> -->
			</tr>
		</thead>
		<tbody>
			<!-- Loader -->
			<!-- <tr ng-hide="isLoading === true">
				<td style="text-align: center;" colspan="1">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
					<span style="font-weight: bolder;">Please Wait...</span>
				</td>
			</tr> -->

			<!-- content -->
			<tr ng-repeat-start="(key, value) in dataset | filter:{_source:{interface:interface,partner:partner, device:device}}" class="text-center" style="padding: 0;margin: 0;font-size: 10px !important;">
				<!-- <td style="white-space:pre"> <a href="" ng-click="getDescValue1(value._source.device,value._source.interface,value._source.b_w)">{{value._source.device}} </a> </td> -->
				<td style="white-space:pre"> <a href="" ng-click="isCollapsed = !isCollapsed">{{value._source.device}} </a> </td>
				<td> {{value._source.interface}}</td>
				<td >
				   {{value._source.partner}}
				</td>
				 <td>{{value._source.AS}} </td>
				 <td style="white-space:pre"> {{value._source.partner_type}}</td>
				<td style="white-space:pre">{{value._source.speed}} Gbps </td>
			 	 <td>{{value._source.direction}} </td>
			 	<td  
					style="width: 10;" 
					class="vertical-middle"
					ng-repeat="(k, v) in getDescValue(value._source.b_w) track by $index"
					ng-style="{'background-color': '{{colors[$index]}}'}"
				>
					{{v | number : 1}}
				</td>
				<!-- <td class="vertical-middle">{{value._id}}</td>
				<td style="width: 10;" 
					class="vertical-middle"
					ng-repeat="(k, v) in getTableStats(value._source.bit_map) track by $index"
				>
					<a href="/{{value._id}}/collectionName/{{tableHeader[$index]}}"><button ng-class="{'btn-danger': v<1, 'btn-success': v>0}" class="btn btn-circle">{{v}}</button></a>
				</td> -->
			</tr>
			<tr class="remarks" ng-show="isCollapsed == false" ng-repeat-end>
				<td colspan="{{5+dataset.length}}">
				<!-- <td colspan="{{5+dataset.length}}" style="padding-bottom:0px;padding-top:0px;padding-right:0px;padding-left: 0px;"> -->
					<p  ng-class="isCollapsed ? 'animated zoomOut' : 'animated bounceIn'" uib-collapse="isCollapsed" class="text-center"> 
						<table class="table table-bordered" style="empty-cells: hide;font-size:10px;">
							<!-- <thead>
						   	<tr>
									<th class="text-center">Even (Device)</th>
									<th class="text-center">Interface </th>
									<th class="text-center">Desc </th>
									<th class="text-center">Partner </th>
									<th class="text-center">AS </th>
									<th class="text-center" style="white-space:pre;"> partner type </th>
									<th class="text-center"> Speed (Gbps)</th>
									<th class="text-center"> Dir </th>
									<th  ng-repeat="h in Heading track by $index" class="text-center">
										{{h}}
									</th>
								</tr>
							</thead> -->
					   	<tbody>
						   	<!--Even -->
				   	    <tr ng-repeat="(key, val) in getDescValue1(value._source.device,value._source.interface,value._source.b_w)">
				   	    	<td style="padding-right: 13px;">{{val._source.device}}<br/>(Even) </td>
				   	     	<td style="padding-right: 21px;">{{val._source.interface}}</td>
								 	<td style="padding-right: 17px;">{{val._source.desc}} </td>
									<td style="padding-right: 35px;">
									   {{val._source.partner}}
									</td>
								 	<td style="padding-right: 11px;">{{val._source.AS}} </td>
								 	<td style="padding-right: 11px;"> {{val._source.partner_type}}</td>
									<td style="padding-right: 29px;">{{val._source.speed}} </td>
							 	 	<td>{{val._source.b_w}} </td>
							 	 	<!-- <td style="min-width: 10;border-style:hidden;padding-right:0px" 
										class="vertical-middle"
										ng-repeat="(key, va) in getDescValue1(value._source.device,value._source.interface,value._source.b_w) track by $index"
										ng-style="{'background-color': getTrColor(element.myvar)}">
										{{va | number : 1}}%
									</td>  -->
								</tr>
						    <!--ODD -->
							 	<!-- <tr >
				   	      <td style="padding-right: 13px;">{{value._source.device}}<br/>(Odd) </td>
				   	     	<td  style="padding-right: 21px;"> {{value._source.interface}}</td>
								 	<td style="padding-right: 17px;"> {{value._source.desc}} </td>
									<td style="padding-right: 35px;">
									   {{value._source.partner}}
									</td>
								 	<td style="padding-right: 11px;">{{value._source.AS}} </td>
								 	<td>{{value._source.partner_type}}</td>
									<td style="padding-right: 29px;">{{value._source.speed}} </td>
							 	 	<td>{{value._source.direction}} </td>
							 	 	<td style="min-width: 10;padding-right:0px;padding-left:8px;" 
										class="vertical-middle"
										ng-repeat="(k, v) in getDescValue1(value._source.b_w) track by $index"
										ng-style="{'background-color': getTrColor(element.myvar)}">
										{{v | number : 1}}%
									</td>
								</tr>	 -->		
					   	</tbody>	
           	</table>
           	<!-- <table class="table table-bordered" style="empty-cells: hide;font-size:10px;">
							<thead>
					   		<tr>
									<th class="text-center">Odd (Device)</th>
									<th class="text-center">Interface </th>
									<th class="text-center">Desc </th>
									<th class="text-center">Partner </th>
									<th class="text-center">AS </th>
									<th class="text-center" style="white-space:pre;"> partner type </th>
									<th class="text-center"> Speed(Gbps)</th>
									<th class="text-center"> Dir </th>
									<th  ng-repeat="h in Headings track by $index" class="text-center">
										{{h}}
									</th>
             		</tr>
							</thead>
					   	<tbody>
				   	    <tr>
				   	      <td style="white-space:pre"> {{value._source.device}} </td>
				   	     	<td> {{value._source.interface}}</td>
								 	<td style="white-space: pre;"> {{value._source.desc}} </td>
									<td>
							   		{{value._source.partner}}
									</td>
								 	<td>{{value._source.AS}} </td>
								 	<td style="white-space:pre"> {{value._source.partner_type}}</td>
									<td style="white-space:pre">{{value._source.speed}} </td>
							 	 	<td>{{value._source.direction}} </td>
							 	 	<td   style="width: 10;" 
										class="vertical-middle"
										ng-repeat="(k, v) in getDescValue1(bws) track by $index"
										ng-style="{'background-color': getTrColor(element.myvar)}">
										{{v | number : 1}}%
									</td> 
								</tr>	
					   	</tbody>	
         		</table> --> 
          </p>
        </td>
     	</tr>
		</tbody>
	</table>
</div>


<!-- Mar 05 -->

<!-- <div class="container-fluid" ng-init="initTableController()">
  <br/>
 <div class="col-sm-12 ">
	<form action="" class="form-inline" style="margin-left:200px;" >
	<div class="form-group" >
		<label for="search">Search :</label>
		<input type="text" class="form-control" ng-model="device" placeholder="Device">
		 &nbsp;
		<input type="text" class="form-control"  ng-model = "interface"  placeholder="Interface">
		 &nbsp;
		<input type="text" class="form-control"   ng-model = "partner"  placeholder="partner">
	</div>
	</form>	

	</div>

  <button type="button" class="btn btn-primary">Total count : <span class="badge">{{totalItems}}</span></button>
    <br/> <br/> 
   <form>
	    <label class="radio-inline">
	      <input type="radio" value="default" ng-model="radio.value" ng-click="checkRadioButton(radio.value)" name="optradio">Default
	    </label>
	    <label class="radio-inline">
	      <input type="radio" value="all" ng-model="radio.value" ng-click="checkRadioButton(radio.value)" name="optradio">All
	    </label>
   </form>
    <button ng-click="toggleNumber()" class="btn btn-info" >Heatmap</button>
    <button ng-click="toggleDate()"  class="btn btn-info" >mpls </button>

	  <table class="table table-bordered table-striped" cellspacing="0"  style="margin-top:10px;width:100%;font-size:12px;">
		<thead>
			<tr >
				<th class="text-center"> Device</th>
				<th class="text-center"> Interface </th>
				<th class="text-center"> Partner</th>
				<th class="text-center"> AS </th>
				<th class="text-center"> partner type</th>
 				<th class="text-center">Speed</th>
 				<th class="text-center"> Dir </th>
 				<th ng-if="radio.value == 'default'" ng-repeat="h in heading track by $index" class="text-center">
					{{h}}
				</th>
				<th ng-if="radio.value == 'all'" ng-repeat="h in filHeading track by $index" class="text-center">
					{{h}}
				</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-hide="isLoading === true">
				<td style="text-align: center;" colspan="7">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
					<span style="font-weight: bolder;">Please Wait...</span>
				</td>
			</tr>
			<h1 ng-show="radio.value == 'default'">Default</h1>
			<h1 ng-show="value == 'all'">ALL</h1>
			<tr  ng-if="radio.value == 'default'" ng-repeat="(key, value) in dataset  | filter:{_source:{interface:interface,partner:partner, device:device}}"  class="text-center" style="margin: 0;font-size: 10px !important;" >
				<td style="white-space:pre"> <a href=""> {{value._source.device}} </a> </td>
				<td> {{value._source.interface}}</td>
				<td >
				   {{value._source.partner}}
				</td>
				 <td>{{value._source.AS}} </td>
				 <td style="white-space:pre"> {{value._source.partner_type}}</td>
				<td style="white-space:pre">{{value._source.speed}} Gbps </td>
			 	 <td>{{value._source.direction}} </td>
			 	<td  
					style="width: 10;" 
					class="vertical-middle"
					ng-repeat="(k, v) in getDescValue(value._source.b_w) track by $index"
					ng-style="{'background-color': '{{colors[$index]}}'}"
				>
					{{v | number : 1}}
				</td>
			</tr>
			<tr  ng-if="radio.value == 'all'" ng-repeat="(key, value) in filDataset  | filter:{_source:{interface:interface,partner:partner, device:device}}"  class="text-center" style="margin: 0;font-size: 10px !important;" >
				<td style="white-space:pre"> <a href=""> {{value._source.device}} </a> </td>
				<td> {{value._source.interface}}</td>
				<td >
				   {{value._source.partner}}
				</td>
				 <td>{{value._source.AS}} </td>
				 <td style="white-space:pre"> {{value._source.partner_type}}</td>
				<td style="white-space:pre">{{value._source.speed}} Gbps </td>
			 	 <td>{{value._source.direction}} </td>
			 	<td  
					style="width: 10;" 
					class="vertical-middle"
					ng-repeat="(k, v) in getDescValue(value._source.b_w) track by $index"
					ng-style="{'background-color': '{{colors[$index]}}'}"
				>
					{{v | number : 1}}
				</td>
				<td class="vertical-middle white-pre" style="text-align: left;">{{getDescValue(value._source.b_w)}}  </td>
			</tr>
		</tbody>
	</table>
</div> -->