/* Logs page status buttons */
.logo{
	width: 32px;
	padding: 7px 0;
	margin-top: -18px;
}
.logSuccess{
	color: #449d44;
	border:1px solid #398439;
	background-color: #FFF;
	padding: 4px;
	border-radius: 5px;
	display: block;
	text-align: center;
}
.logSuccess:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #398439;
    border:1px solid #398439;
    cursor: pointer;
}
.logFailure{
	color: #c9302c;
	border:1px solid #ac2925;
	background-color: #FFF;
	padding: 4px;
	border-radius: 5px;
	display: block;
	text-align: center;
}
.logFailure:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #c9302c;
    border:1px solid #ac2925;
    cursor: pointer;
}

/* Routes(index) page search box animation */
.routes-search{
	width: 250px !important;
   	-webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.routes-search:focus{
    width: 500px !important;
}

/* Checkbox to Button */
#c2b{
	overflow:auto;
    float:left;
    padding: 0px 5px;
}
#c2b label span{
    text-align:center;
    display:block;
}
#c2b label input{
    position:absolute;
    display: none;
}
#c2b input:checked + span{
    background-color:#911;
    color:#fff;
}

/* Logs Remarks toggle */
.remarks{
    padding: 5px;
    border: 3px dotted #CCC;
}

/* Circle Button */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}