.logo{
	width: 32px;
	padding: 7px 0;
	margin-top: -18px;
}
.logSuccess{
	color: #449d44;
	border:1px solid #398439;
	background-color: #FFF;
	padding: 4px;
	border-radius: 5px;
	display: block;
	text-align: center;
}
.logSuccess:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #398439;
    border:1px solid #398439;
    cursor: pointer;
}
.logFailure{
	color: #c9302c;
	border:1px solid #ac2925;
	background-color: #FFF;
	padding: 4px;
	border-radius: 5px;
	display: block;
	text-align: center;
}
.logFailure:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #c9302c;
    border:1px solid #ac2925;
    cursor: pointer;
}
.routes-search{
	width: 250px !important;
   	-webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

 .routes-search:focus{
    width: 500px !important;
}

/* Checkbox to Button */
/* #ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
} */

#ck-button {
    /*margin:4px;*/
    /*background-color:#EFEFEF;*/
    /*border-radius:4px;*/
    /*border:1px solid #D0D0D0;*/
    overflow:auto;
    float:left;
    padding: 0px 5px;
}

/*#ck-button label {
    float:left;
    display: inline-block;
    margin-bottom: 5px;
    width:4.0em;
}*/

#ck-button label span {
    text-align:center;
    /*padding:3px 0px;*/
    display:block;
}

#ck-button label input {
    position:absolute;
    display: none;
}

#ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}